streamlit==1.31.0
langchain==0.1.11
pymongo==4.6.1
bson==0.5.10
motor==3.3.2
python-dotenv==1.0.1
pydantic==2.6.3
openai==1.12.0
langchain-openai==0.0.8
langchain-community==0.0.19
beautifulsoup4==4.12.3
requests==2.31.0
pandas==2.0.3
numpy==1.24.4
pillow==10.2.0
pypdf==4.0.2
python-docx==1.1.0
uuid==1.30.0
pytesseract==0.3.10